body {
    color: #454545;
    background-color: #f5f0e1;
    font-size: 16px;
    margin: 2em auto;
    max-width: 640px;
    padding: 1em;
    line-height: 1.4;
    text-align: justify;
    font-family: serif;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
}

/* Red links! */
a, a:visited { color: #f85552; }
a:hover, a:visited:hover { color: #e66868; }

textarea, input {
    background: #f5f2ee;
    max-width: 640px;
    width: 100%;
    display: block;
    resize: vertical;
    outline: 0;
    box-shadow: none;
    border: 0.0625em solid #454545;
    margin-bottom: 1em;
    font-size: 18px;
}

input {
    height: 2.5em;
}

footer { margin-top: auto; }

button {
    background-color: #f85552;
    border: none;
    color: #f5f2ee;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;

    max-width: 640px;
    width: 100%;
}
button:hover { background-color: #e66868; }


header > h1, header > p {
    margin-bottom:0;
    margin-top:0;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    body {
        color: #f5f0e1;
        background-color: #2c2825;
    }

    textarea, input {
        color: #f5f0e1;
        background-color: #383030;
    }
}