{{- define "404" -}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/public/main.css">
    <title>Error 404</title>
</head>
<body>
<main>
    <h1>Error 404 - Not Found</h1>
    <p>{{ translate "error.404" }}</p>
    <p><a href="/">{{ translate "error.prompt" }}</a></p>
</main>
</body>
</html>
{{ end }}