{{define "header"}}
<header>
    <h1>🌺 Hibiscus.txt</h1>
    <p>{{translatableText "time.date"}} <span id="today-date">a place</span> <span id="grace" hidden>({{ translatableText "time.grace" }})</span></p>
</header>
{{end}}

{{define "base"}}
<!DOCTYPE html>
<html lang="{{ translatableText "lang" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="/public/manifest.json" />
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/public/main.css">
    <script src="/public/date.js"></script>
    <title>Hibiscus.txt</title>
</head>
<body>
    {{template "header" .}}
    <main>
        {{template "main" .}}
    </main>
    {{template "footer" .}}
    <script defer>
        const langName="{{ translatableText "lang" }}";
        beginTimeUpdater()
    </script>
</body>
</html>
{{end}}

{{define "footer"}}
<footer>
    <p><a href="/">{{ translatableText "link.today" }}</a> | <a href="/day">{{ translatableText "link.days" }}</a> | <a href="/notes">{{ translatableText "link.notes" }}</a>
    <span style="float:right;"><a class="no-accent" href="/info" title="{{ translatableText "link.info" }}">{{ hibiscusVersion }}</a></span></p>
</footer>
{{end}}