{{define "header"}}
<header>
    <h1>🌺 Hibiscus.txt</h1>
    <p>Today is <span id="today-date">a place</span></p>
</header>
{{end}}

{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/public/main.css">
    <script src="/public/date.js"></script>
    <title>Hibiscus.txt</title>
</head>
<body>
    {{template "header" .}}
    <main>
        {{template "main" .}}
    </main>
    {{template "footer" .}}
    <script defer>updateDate();beginDateUpdater()</script>
</body>
</html>
{{end}}

{{define "footer"}}
<footer>
    <p><a href="/">today</a> | <a href="/day">previous days</a></p>
</footer>
{{end}}